<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunyun.meallog.food.dao.FoodDao">

<!--    로직 추가 -->
        <!-- 자동완성: 앞글자로 빠르게 검색 -->
        <select id="autoComplete" parameterType="string" resultType="Food">
            SELECT *
            FROM foods
            WHERE name LIKE CONCAT('%', #{query}, '%')
            ORDER BY name
                LIMIT 100;
        </select>

        <!-- 일반 검색 -->
        <select id="searchFood" parameterType="string" resultType="Food">
            SELECT *
            FROM foods
            WHERE name LIKE CONCAT('%', #{query}, '%')
            ORDER BY LENGTH(name), name
        </select>

        <!-- 상세 조회 -->
        <select id="getFoodDetail" parameterType="long" resultType="Food">
            SELECT *
            FROM foods
            WHERE id = #{id}
        </select>

        <!-- 커스텀 음식 등록 -->
        <insert id="insertCustomFood" parameterType="Food" useGeneratedKeys="true" keyProperty="id">
            INSERT INTO foods (name, calories, carbs, protein, fat, is_custom, created_by, created_at)
            VALUES (#{name}, #{calories}, #{carbs}, #{protein}, #{fat},#{isCustom}, #{createdBy}, #{createdAt})
        </insert>

</mapper>
