<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyun.meallog.user.dao.UserDao">

    <insert id="signUp" parameterType="com.yunyun.meallog.user.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (
            email, password, nickname
        )
        VALUES (
            #{email}, #{password}, #{nickname}
        )
    </insert>

    <select id="findByEmail" parameterType="String" resultType="com.yunyun.meallog.user.domain.User">
        SELECT
            id, email, password, nickname, gender,
            age, height, weight, exercise_frequency, exercise_goal,
            reward_point
        FROM users
        WHERE email = #{email}
    </select>

    <select id="findById" parameterType="Long" resultType="com.yunyun.meallog.user.domain.User">
        SELECT
            id, email, password, nickname, gender,
            age, height, weight, exercise_frequency, exercise_goal,
            reward_point
        FROM users
        WHERE id = #{id}
    </select>

    <update id="updateProfile" parameterType="com.yunyun.meallog.user.domain.User">
        UPDATE users
        SET
            gender = #{gender},
            height = #{height},
            weight = #{weight},
            age = #{age},
            exercise_frequency = #{exerciseFrequency},
            exercise_goal = #{exerciseGoal}
        WHERE id = #{id}
    </update>

    <update id="updateRewardPoint">
        UPDATE users
        SET
            reward_point = #{rewardPoint}
        WHERE id = #{id}
    </update>

</mapper>