/* 전역 기본 (폰트, body, 색상) import */
@import './variable.css';
@import './common.css';

/* 전역 폰트 */
* {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Noto Sans KR',
    sans-serif;
  color: var(--main-brown);
}

/* 배경 - 식별을 위해 임시로 추가*/
body {
  background-color: #fafafa;
}
