/* 전역 기본 (폰트, body, 색상) import */
@import './variable.css';
@import './common.css';

/* 전역 폰트 */
* {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Noto Sans KR',
    sans-serif;
  color: var(--main-brown);
}

/* 배경 - 식별을 위해 임시로 추가*/
body {
  background-color: #fafafa;
}

/* 토스트 전체 박스 커스텀 */
.Toastify__toast {
  border-radius: 20px !important;
  font-family: 'Pretendard', sans-serif;
  color: var(--main-brown);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
